.testimonal .items {
    padding: 30px;
    transition: 0.5s;
  }
  
  .testimonal .img {
    position: relative;
  }
  .testimonal img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .testimonal i {
    position: absolute;
    bottom: 0;
    left: 60px;
    background-color: #1eb2a6;
    color: #fff;
  }
  .testimonal .name {
    margin: 25px;
  }
  .testimonal .name h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .testimonal .name span {
    color: #1eb2a6;
  }
  .testimonal p {
    margin-top: 20px;
    color: grey;
    transition: 0.5s;
  }
  .testimonal .items:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
  }
  .testimonal .items:hover span,
  .testimonal .items:hover p {
    color: #fff;
  }
  .testimonal .items:hover i {
    background-color: #fff;
    color: #1eb2a6;
  }
  .padding {
    padding: 80px 0;
  }
  .container {
    max-width: 85%;
    margin: auto;
  }
  .shadow {
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
    background-color: #fff;
  }
  .grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  @media screen and (max-width: 768px) {
    .grid2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: #1eb2a6;
    transition: 0.5s;
  }
  .icon:hover {
    cursor: pointer;
    background-color: #1eb2a6;
    color: #fff;
  }